UseTab: Never
SortIncludes: false
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
AccessModifierOffset: 2
IndentAccessModifiers: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Left
ReferenceAlignment: Left
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
ColumnLimit: 160
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
InsertTrailingCommas: Wrapped
